#
# Environment Variables for deploying DAOS on Azure
#
# Variable values in <> brackets must be set by the user.
# These values are specific to each user and therefore cannot be defaulted.
#
# Many of the variable values are configured with default values.
# The defaults may not be valid for your environment. You may need to replace
# the default values with the value for your environment.
#

# A string that will be prepended to all resource names.
# This is helpful when multiple team members are deploying DAOS in a
# shared subscription.
DAOS_AZ_CORE_RESOURCE_PREFIX=""

DAOS_AZ_CORE_ACCT_NAME="<subscription_name>"
DAOS_AZ_CORE_LOCATION="<location>"
DAOS_AZ_CORE_RG_NAME="${DAOS_AZ_CORE_RG_NAME:-${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-rg}"

# This path is used when creating ~/.ssh/config.d/azure-tunnel* files that
# make it easy to log into VMs. If you do not need to run the tunnel-*.sh
# to create tunnels, this variable does not need to be set.
DAOS_AZ_SSH_ADMIN_KEY="<path_to_private_ssh_key>"

# Path to the public key that will be deployed to the daos_admin user account on VMs
DAOS_AZ_SSH_ADMIN_KEY_PUB="<path_to_public_ssh_key>"

DAOS_AZ_ARM_INFRA_GROUP_DEPLOYMENT_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-infrastructure-deployment"
DAOS_AZ_ARM_NET_SUBNET_NAME="${DAOS_AZ_ARM_NET_SUBNET_NAME:-${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-sn}"
DAOS_AZ_ARM_NET_VNET_NAME="${DAOS_AZ_ARM_NET_VNET_NAME:-${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-vnet}"
DAOS_AZ_ARM_ADMIN_USER="daos_admin"
DAOS_AZ_ARM_BASTION_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-bastion"
DAOS_AZ_ARM_IMG_URN="almalinux:almalinux:8-gen2:latest"
DAOS_AZ_ARM_KEY_VAULT_NAME="${DAOS_AZ_ARM_KEY_VAULT_NAME:-${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-kv}"

DAOS_AZ_ARM_SERVER_GROUP_DEPLOYMENT_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-server-deployment"
DAOS_AZ_ARM_SERVER_VMSS_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-server-vmss"
DAOS_AZ_ARM_SERVER_COUNT=3

DAOS_AZ_ARM_CLIENT_GROUP_DEPLOYMENT_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-client-deployment"
DAOS_AZ_ARM_CLIENT_VMSS_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+${DAOS_AZ_CORE_RESOURCE_PREFIX}-}daos-client-vmss"
DAOS_AZ_ARM_CLIENT_COUNT=3
