#
# Environment Variables for deploying DAOS on Azure
#
# Variable values in <> brackets must be set by the user.
#
# Many of the variable values default values retreived by the CLI.
# While this is convenient, it can slow down the execution of scripts.
# You can speed up script execution by setting the values directly instead of
# running CLI commands to set the variable values.
#

# ------------------------------------------------------------------------------
# Values that must be provided by the user
# ------------------------------------------------------------------------------
# A string that will be prepended to resource names.
# If no resource prefix is desired, set to ""
DAOS_AZ_CORE_RESOURCE_PREFIX=""
DAOS_AZ_SSH_ADMIN_KEY="<path_to_your_private_ssh_key>"
DAOS_AZ_SSH_ADMIN_KEY_PUB="<path_to_your_public_ssh_key>"

# IP of the system where you are running the deployment scripts from.
# A rule will be added to a Network Security Group to allow you to access VMs.
DAOS_AZ_NET_MY_IP=$(curl -s https://api.myip.com | jq -r '.ip')

# Additional list of IPs which will be allowed to access VMs
# If your team is behind a corporate proxy with multiple proxy IPs, you
# can list the IPs or CIDRs for the proxy subnets in a list.
# Example value:  "[\"192.102.204.32/27\",\"192.55.46.32/27\"]"
DAOS_AZ_NET_ALLOWED_INBOUND_IPS=""

# To create a secret value go to Home>App registrations>daos-packer>Certificates & Secrets in the Portal
DAOS_AZ_PKR_SVC_PRIN_SECRET="<service_principal_secret>"

# ------------------------------------------------------------------------------
# Variables with defaults
# ------------------------------------------------------------------------------
DAOS_AZ_LOG_LEVEL="${DAOS_AZ_LOG_LEVEL:="INFO"}" # Set to DEBUG to see more detailed output.

DAOS_AZ_CORE_ACCT_NAME="$(az account show --query name -o tsv)"
DAOS_AZ_CORE_ACCT_ID="$(az account show --query id -o tsv)"
DAOS_AZ_CORE_RG_NAME="$(az configure --list-defaults --query "[?name=='group'].value" -o tsv)"
DAOS_AZ_CORE_LOCATION="$(az configure --list-defaults --query "[?name=='location'].value" -o tsv)"
DAOS_AZ_CORE_TENANT_ID="$(az account show --query 'tenantId' -o tsv)"
DAOS_AZ_CORE_KEY_VAULT_NAME="$(az keyvault list --query "[?contains(name,'daos')].name" -o tsv)"

DAOS_AZ_NET_VNET_NAME="$(az network vnet list --query "[?contains(name,'daos')].name" -o tsv)"
DAOS_AZ_NET_SUBNET_NAME="$(az network vnet subnet list --vnet-name "${DAOS_AZ_NET_VNET_NAME}" --query "[?contains(name,'daos')].name" -o tsv)"

DAOS_AZ_PKR_TEMPLATE_FILE="daos_from_source.pkr.hcl"

DAOS_AZ_PKR_SVC_PRIN_NAME="daos-packer" #App registration name
DAOS_AZ_PKR_SVC_PRIN_CLIENT_ID="$(az ad app list --show-mine --query "[?displayName=='${DAOS_AZ_PKR_SVC_PRIN_NAME}'].appId" -o tsv)"

DAOS_AZ_PKR_VM_SIZE="Standard_L8s_v3"
DAOS_AZ_PKR_USE_CLI_AUTH="false"
DAOS_AZ_PKR_SRC_IMG_OFFER="almalinux"
DAOS_AZ_PKR_SRC_IMG_PUBLISHER="almalinux"
DAOS_AZ_PKR_SRC_IMG_SKU="8-gen2"
DAOS_AZ_PKR_SRC_IMG_VERSION="8.7.2022122801"
DAOS_AZ_PKR_DEST_IMG_GAL_RG_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+$DAOS_AZ_CORE_RESOURCE_PREFIX-}common-rg"
DAOS_AZ_PKR_DEST_IMG_GAL_LOCATION="${DAOS_AZ_CORE_LOCATION}"
DAOS_AZ_PKR_DEST_IMG_GAL_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+$DAOS_AZ_CORE_RESOURCE_PREFIX_}common_ig"
DAOS_AZ_PKR_DEST_IMG_OFFER="daos"
DAOS_AZ_PKR_DEST_IMG_PUBLISHER="daos"
DAOS_AZ_PKR_DEST_IMG_NAME="daos-almalinux8"
DAOS_AZ_PKR_DEST_IMG_VERSION_PREFIX="2.4"
DAOS_AZ_PKR_DAOS_GIT_REPO_URL="https://github.com/daos-stack/daos.git"
DAOS_AZ_PKR_DAOS_GIT_REPO_BRANCH="release/2.4"
DAOS_AZ_PKR_DAOS_GIT_REPO_TAG=""
DAOS_AZ_ARM_UAMID_NAME="$(az identity list --query "[?contains(name, 'daos')].name" -o tsv)"
DAOS_AZ_ARM_UAMID="/subscriptions/${DAOS_AZ_CORE_ACCT_ID}/resourcegroups/${DAOS_AZ_CORE_RG_NAME}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/${DAOS_AZ_ARM_UAMID_NAME}"
DAOS_AZ_ARM_KEY_VAULT_NAME="$(az keyvault list --query "[?contains(name, 'daos')].name" -o tsv)"
DAOS_AZ_ARM_ADMIN_IMG_ID="/subscriptions/${DAOS_AZ_CORE_ACCT_ID}/resourceGroups/${DAOS_AZ_PKR_DEST_IMG_GAL_RG_NAME}/providers/Microsoft.Compute/images/${DAOS_AZ_PKR_DEST_IMG_NAME}"
DAOS_AZ_ARM_SVR_IMG_ID="/subscriptions/${DAOS_AZ_CORE_ACCT_ID}/resourceGroups/${DAOS_AZ_PKR_DEST_IMG_GAL_RG_NAME}/providers/Microsoft.Compute/images/${DAOS_AZ_PKR_DEST_IMG_NAME}"
DAOS_AZ_ARM_SVR_GROUP_DEPLOYMENT_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+$DAOS_AZ_CORE_RESOURCE_PREFIX-}daos-server-deployment"
DAOS_AZ_ARM_SVR_SRC_TEMPLATE="azuredeploy_server_template.json"
DAOS_AZ_ARM_SVR_DEST_TEMPLATE="azuredeploy_server.json"
DAOS_AZ_ARM_SVR_VMSS_NAME="${DAOS_AZ_CORE_RESOURCE_PREFIX:+$DAOS_AZ_CORE_RESOURCE_PREFIX-}daos-server-vmss"
DAOS_AZ_ARM_ADMIN_SKU="Standard_L8s_v3"
DAOS_AZ_ARM_SVR_SKU="Standard_L8s_v3"
DAOS_AZ_ARM_ADMIN_USER="daos_admin"
DAOS_AZ_ARM_SVR_COUNT=3
DAOS_AZ_ARM_SVR_DISK_COUNT=8
DAOS_AZ_ARM_SVR_DISK_SIZE=1024
DAOS_AZ_ARM_SVR_DISK_STORAGE_SKU="Premium_LRS"
DAOS_AZ_ARM_SVR_DISK_CACHE_OPTION="None"
DAOS_AZ_ARM_SVR_USE_AVAIL_ZONE="true"
DAOS_AZ_ARM_SVR_AVAIL_ZONE=1

DAOS_AZ_CFG_ALLOW_INSECURE="false"
DAOS_AZ_CFG_NR_HUGEPAGES="8096"
DAOS_AZ_CFG_SCM_SIZE_GB=16
DAOS_AZ_CFG_TARGETS="${DAOS_AZ_ARM_SVR_DISK_COUNT}"
DAOS_AZ_CFG_NR_XS_HELPERS=0
DAOS_AZ_CFG_CONTROL_LOG_MASK=INFO
