# Example build environment file
export DAOS_INSTALL_FROM_SOURCE="true"
export DAOS_VERSION="2.2.0"
export DAOS_REPO_BASE_URL=""https://packages.daos.io""
export DAOS_PACKAGES_REPO_FILE="EL8/packages/x86_64/daos_packages.repo"
export DAOS_INSTALL_TYPE="server"
export DAOS_GIT_REPO_URL="https://github.com/daos-stack/daos.git"
export DAOS_GIT_REPO_BRANCH="master"
export DAOS_GIT_REPO_TAG="v2.3.107-tb"
export DAOS_UTILS_SCRIPT="utils/scripts/install-el8.sh"
export DAOS_APPLY_PATCHES="true"
export DAOS_IMAGE_NAME_PREFIX="azure-daos-alma8"
export DAOS_PACKER_TEMPLATE="daos_from_source.pkr.hcl"
export DAOS_PACKER_VARS_FILE="daos_from_source.pkrvars.hcl"
export DAOS_ANSIBLE_PLAYBOOK="install_daos_from_source.yml"
export AZ_SUBSCRIPTION_ID="$(az account show --query 'id' -o tsv)"
export AZ_RESOURCE_GROUP="$(az configure --list-defaults -o jsonc | jq -r '.[] | select(.name == "group") | .value')"
export AZ_LOCATION="$(az group show --name "${AZ_RESOURCE_GROUP}" --query 'location' -o tsv)"
export AZ_IMAGE_OFFER="almalinux"
export AZ_IMAGE_PUBLISHER="almalinux"
export AZ_IMAGE_SKU="8-gen2"
export AZ_IMAGE_VERSION="8.7.2022122801"
